body{
    background-image:url("https://th.bing.com/th/id/OIP.aFJIzBZIXKUjgAUHfn5gNwHaFW?w=210&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7");
    background-size: 100% 100%;
}

.Box{
    margin: 100px 300px 100px;
    background-color: rgba(17, 202, 144, 0.43);
    height: 500px;
}
h1{
    padding: 20px;
    text-align: center;
    color:rgb(245, 241, 9);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
input[type=text]{
    color: rgba(245, 245, 220, 0.456);
    margin: 10px 0px 20px 200px;
    font-size: 20px;
    padding:10px;
    width:50%;
    background-color: rgb(241, 224, 202);
    border: none;
}
button#Add{
    color:white;
    font-size: 20px;
    padding:12px;
    background-color:rgb(5, 131, 5);
    border:none
}
table{
    text-align: justify;
    margin: 20px 200px 20px 100px;
    width:80%;
    height: 200px;
}
th{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    border-bottom: 1px solid rgb(63, 61, 61);
    color:rgb(1, 7, 12);
}
td{
    font-size: 18px;
    border-bottom: 1px solid rgb(63, 61, 61);
    color:rgba(240, 248, 255, 0.893);
}
#Edit{
    color: white;
    background-color: darkgoldenrod;
    border: none;
    font-size: 15px;
    padding: 5px;
    display: inline-block;
    margin-right: 4px;
}
#Delete{
    color: white;
    background-color: darkred;
    border: none;
    font-size: 15px;
    padding: 5px;
    display: inline-block;
}
button:hover{
    opacity: 0.5;
    cursor: pointer;
}
